<div class="row foot">
    <div class="col-md-12 footitle">
        <br>
        <h4>تیم ما</h4>
        <p>تیم ما دارای افراد کمی هست اما ولی با توجه به کم بودن، تجربه کافی برای پیشرفت تیم دارا هستیم!</p>
        <br>
    </div>
    <div class="col-md-3">
        <div class="dialog person">
            <br>
            <img src="https://avatars.githubusercontent.com/u/55284339?v=4">
            <br>
            <br>
            <br>
            <p>
                <span class="name">امیرحسین محمدی</span>
                <br>
                <span class="pos">CEO | Founder</span>
            </p>
            <br>
            <p>
                <span class="icon">
                    <a href="https://github.com/BlackIQ" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </span>
                &nbsp;
                <span class="icon">
                    <a href="https://linkedin.com/in/amirhosseinmohamamdi" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </span>
                &nbsp;
                <span class="icon">
                    <a href="https://twitter.com/GNU_Amir" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </span>
                &nbsp;
                <span class="icon">
                    <a href="https://t.me/BlackIQ" target="_blank">
                        <i class="fa fa-telegram"></i>
                    </a>
                </span>
                &nbsp;
                <span class="icon">
                    <a href="mailto:me@blackiq.ir" target="_blank">
                        <i class="fa fa-envelope"></i>
                    </a>
                </span>
            </p>
        </div>
        <br>
    </div>
    <div class="col-md-3">
        <div class="dialog person">
            <br>
            <img src="https://avatars.githubusercontent.com/u/77109284?v=4">
            <br>
            <br>
            <br>
            <p>
                <span class="name">مهران علم بیگی</span>
                <br>
                <span class="pos">CTO</span>
            </p>
            <br>
            <p>
                <span class="icon">
                    <a href="https://github.com/Mehranalam" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </span>
                &nbsp;
                <span class="icon">
                    <a href="https://t.me/Mehranalam" target="_blank">
                        <i class="fa fa-telegram"></i>
                    </a>
                </span>
            </p>
        </div>
        <br>
    </div>
    <div class="col-md-3">
        <div class="dialog person">
            <br>
            <img src="https://avatars.githubusercontent.com/u/73898300?v=4">
            <br>
            <br>
            <br>
            <p>
                <span class="name">آناهیتا میرحسینی</span>
                <br>
                <span class="pos">Co-Founder</span>
            </p>
            <br>
            <p>
                <span class="icon">
                    <a href="https://github.com/Annahta2004" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </span>
                &nbsp;
                <span class="icon">
                    <a href="https://www.linkedin.com/in/annahita-mirhosseini" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </span>
                &nbsp;
                <span class="icon">
                    <a href="mailto:miss.annahita@yahoo.com" target="_blank">
                        <i class="fa fa-envelope"></i>
                    </a>
                </span>
            </p>
        </div>
        <br>
    </div>
    <div class="col-md-3">
        <div class="dialog person need">
            <p class="name">
                به یک دیزاینر نیازمندیم!
            </p>
            <p class="pos">
                در صورت داشتن تجربه کافی رزومه خود را به ایمیل زیر ارسال نمایید.
            </p>
            <p class="pos">
                info@neotrinost.ir
            </p>
        </div>
        <br>
    </div>
</div>