<div class="row">
    <div class="index">
        <div class="col-md-12">
            <div class="text">
                <h1>نئوترینوست</h1>
                <br>
                <p>
                    نئوترینوست یک تیم ارائه نرم افزار و سرویس های مختلف و همچنین کراس پلتفرم میباشد.
                </p>
                <p>
                    مهم ترین سرویس های نئوترینوست، سرویس های بات های تلگرامی، انتشارات کتب فنی و مهندسی، انتشارات رمان ها و همچنین سرویس های آموزشی میباشد.
                </p>
            </div>
            <br>
        </div>
    </div>
</div>
<br>