@font-face {
    font-family: iransans;
    src: url("./iransans.ttf");
}

.site-header {
    background: linear-gradient(-45deg, rgb(0, 65, 185), rgb(8, 7, 92));
    background-size: 400% 400%;
    animation: header-glowing 5s ease infinite;
    /* border-bottom: solid 1px black; */
    color: white;
}

@keyframes header-glowing {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.corner-radius-8px {
    border-radius: 8px;
}

p, a, h1, h2 ,h3, h4 , h5, h6 {
    font-family: iransans, serif;
}
p {
    font-size: 12px;
}
a {
    font-size: 13px;
}
.header-text {
    font-size: 14px;
}

.splide__pagination__page {
    background: #6d6d6d;
}

.img-circle{
    border-radius: 50%;
    border: solid 1px #000000;
    box-shadow: rgba(0, 0, 0, 0.23) 0 6px;
}

.cfa-2x {
    font-size: 1.5em;
}

.bg-medium {
    background-color: #d9d9d9;
}