@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.dark {
    padding: 6%;
    font-family: 'Pacifico', cursive;
    color: #bb86f3;
    background: black;
    text-align: center;
}
.dark .dialog {
    text-align: left;
    padding: 3%;
    background: #121212;
    border: solid 1px #121212;
}
.dark .link {
    text-decoration: none;
    color: purple;
}
.dark .name {
    color: #bb86f3;
}
.dark .naav, .navbar-brand, .nav-link {
    text-decoration: none;
}