@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.light {
    padding: 6%;
    font-family: 'Pacifico', cursive;
    color: black;
    background: white;
    text-align: center;
}
.light .dialog {
    text-align: left;
    padding: 3%;
    background: #f6f6f6;
    border: solid 1px #f6f6f6;
}
.light .link {
    text-decoration: none;
    color: gray;
}
.light .name {
    color: black;
    background: #f6f6f6;
}
.light .naav, .navbar-brand, .nav-link {
    text-decoration: none;
    background: #f6f6f6;
}