/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

.light {
    padding: 6%;
    font-family: 'Pacifico', cursive;
    color: black;
    background: white;
    text-align: center;
}
.light .dialog {
    padding: 5%;
    background: #f6f6f6;
    border: solid 1px #f6f6f6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.light .link {
    text-decoration: none;
    color: #0000FF;
}
.light .name {
    color: black;
    background: #f6f6f6;
}
.light .naav, .navbar-brand, .nav-link {
    text-decoration: none;
    background: #f6f6f6;
}
.light .toggle {
    border: solid 1px #f6f6f6;
    background: #f6f6f6;
    color: black;
}
.light .heading {
    color: black;
}
.light .center {
    text-align: center;
}
.light .left {
    text-align: left;
}