<!DOCTYPE html>
<html>
	<head>
		
        <!-- START SEO TAG -->

        <title>Neotrinost - About us</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta name="description" content="Neotrinost | Open-Sourve development team">
		<meta name="keywords" content="neotrinost,open source,python,php,java,android,linux,manjaro,amirhossein mohammadi,linkedin,twitter,gnu_amir,annahita mirhosseini">
		<meta name="author" content="Neotrinost">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="og:site_name" content="">
		<meta property="og:title" content="Neotrinost | Open-Sourve development team">
		<meta property="og:type" content="programming">
		<link rel="shortcut icon" type="image/jpg" href="static/img/favicon.png"/>
		<meta property="og:image" content="static/img/favicon.png">
		<meta property="og:description" content="Neotrinost | Development Company For All Platform">

        <!-- END SEO TAG -->

        <!-- START STYLE AND FONT TAG -->

		<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
		<style>
			body {
				padding-top: 56px;
			}
		</style>

        <!-- END STYLE AND FONT TAG -->

	</head>

	<body>
		<nav class="navbar bg-warning navbar-expand-lg navbar-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" href="."><span>Neotrinost</span></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item text-white active">
							<a class="nav-link" href="#"><i class="fa fa-home"></i> Home</a>
						</li>
						<li class="nav-item text-white active">
							<a class="nav-link" href="#"><i class="fa fa-id-card"></i> About Us</a>
						</li>
						<li class="nav-item text-white active">
							<a class="nav-link" href="#"><i class="fa fa-envelope"></i> Contact Us</a>
						</li>
                        <li class="nav-item text-white active">
							<a class="nav-link" href="#"><i class="fa fa-blog"></i> Blog</a>
						</li>
					</li>
				</ul>
			</div>
			</div>
		</nav>

		<div class="container">
            <br>
            <h1>About us</h1>
            <hr class="border-warning">
			<div class="row">
                <div class="col-md-8">
                    <div class="border border-warning card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">We are Neotrinost !</h2>
                            <hr class="border-warning">
                            <p class="card-text">
                                <b>CEO | Founder</b>
                                <br>
                                Amirhossein Mohammadi
                                <br>
                                <br>
                                <b>Co-Founder</b>
                                <br>
                                Annahita Mirhosseini
                                <br>
                                <br>
                                <b>Junior developer</b>
                                <br>
                                Shahriar Ghasempour
                            </p>
                        </div>
                        <div class="card-footer border-warning text-muted">
                            For more information, check out contact us
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<br>

		<footer class="py-5 bg-warning">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="m-0 text-left text-white">
							<h2 class="text-white"><b><a class="text-white" href="https://www.linkedin.com/company/neotrinost">Neotrinost</a></b></h2>
							<h5>
								<i class="fa fa-linkedin text-white"></i>
								<i class="fa fa-github text-white"></i>
								<i class="fa fa-telegram text-white"></i>
								<i class="fa fa-instagram text-white"></i>
                            </h5>
                            <br>
                            <small>Neotrinost Inc <i class="fa fa-copyright"></i> 2020 - 2021, All Rights Reserved</small>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	</body>
</html>