<!DOCTYPE html>
<html>
	<head>
        <title>Neotrinost - Index</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta name="description" content="Neotrinost | Open-Sourve development team">
		<meta name="keywords" content="neotrinost,open source,python,php,java,android,linux,manjaro,amirhossein mohammadi,linkedin,twitter,gnu_amir,annahita mirhosseini">
		<meta name="author" content="Neotrinost">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="og:site_name" content="">
		<meta property="og:title" content="Neotrinost | Open-Sourve development team">
		<meta property="og:type" content="programming">
		<link rel="shortcut icon" type="image/jpg" href="static/img/favicon.png"/>
		<meta property="og:image" content="static/img/favicon.png">
		<meta property="og:description" content="Neotrinost | Development Company For All Platform">
		<link type="text/css" rel="stylesheet" href="static/css/bootstrap.css">
		<script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
		<style>
    		@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    		body {
				padding-top: 6%;
				font-family: 'Pacifico', cursive;
				color: #FFA500;
				background: #e5e5e5;
				text-align: center;
			}
			.dialog {
			    text-align: left; padding: 3%;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href=".">Neotrinost</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa fa-info"></i> About us
                        </a>
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa fa-phone"></i> Contact us
                        </a>
                    </div>
				</div>
			</div>
		</nav>
        <br>
		<div class="container-fluid">
            <h1>Neotrinost</h1>
            <h4>A place to develop what you want</h4>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4" style="color: green;">
                    <i class="fa fa-android"></i>
                    <h4>Android</h4>
                    <p>Android Projects, Java or Kotlin</p>
                    <br>
                </div>
                <div class="col-sm-4" style="color: brown;">
                    <i class="fa fa-globe"></i>
                    <h4>Websites</h4>
                    <p>Php or Flask or Django, Leave it to us</p>
                    <br>
                </div>
                <div class="col-sm-4" style="color: blue;">
                    <i class="fa fa-desktop"></i>
                    <h4>Desktop</h4>
                    <p>CLI or GUI, Java or Python</p>
                    <br>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-4" style="color: red;">
                    <i class="fa fa-heart"></i>
                    <h4>Love</h4>
                    <p>We love to code</p>
                    <br>
                </div>
                <div class="col-sm-4" style="color: black;">
                    <i class="fa fa-brain"></i>
                    <h4>Focus</h4>
                    <p>We focus on what we write</p>
                    <br>
                </div>
                <div class="col-sm-4" style="color: #d4af37;">
                    <i class="fa fa-trophy"></i>
                    <h4>The Best</h4>
                    <p>We do the bests</p>
                    <br>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-6 dialog" style="color: #000080;">
                    <h4>About us</h4>
                    <br>
                    <p>Well, we are <b>Neotrinost LLC</b></p>
                </div>
                <div class="col-md-6 dialog" style="color: #3c1321;">
                    <h4>Contact us</h4>
                </div>
            </div>
		</div>
		<br>
		<script src="static/js/bootstrap.js"></script>
	</body>
</html>