<!DOCTYPE html>
<html>
	<head>
        <title>Neotrinost - Index</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta name="description" content="Neotrinost | Open-Sourve development team">
		<meta name="keywords" content="neotrinost,open source,python,php,java,android,linux,manjaro,amirhossein mohammadi,linkedin,twitter,gnu_amir,annahita mirhosseini">
		<meta name="author" content="Neotrinost">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta property="og:site_name" content="">
		<meta property="og:title" content="Neotrinost | Open-Sourve development team">
		<meta property="og:type" content="programming">
		<link rel="shortcut icon" type="image/jpg" href="static/img/favicon.png"/>
		<meta property="og:image" content="static/img/favicon.png">
		<meta property="og:description" content="Neotrinost | Development Company For All Platform">
		<meta name="google-site-verification" content="6-dOUFYMK1TwQ2tDtGmvBW79px0fC8f5vUb_oDVC2Sw">
		
		<link type="text/css" rel="stylesheet" href="static/css/bootstrap.css">
		<script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
		<style>
    		@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    		body {
				padding-top: 6%;
				font-family: 'Pacifico', cursive;
				color: #FFA500;
				background: #f2f2f2;
				text-align: center;
			}
			.dialog {
			    text-align: left; padding: 3%;
			}
			.link-c {
                text-decoration: none;
                color: #3c1321;
			}
			.link-s {
                text-decoration: none;
                color: #0e89f6;
			}
			.naav {
			    color: black;;
			}
			.naav, .navbar-brand, .nav-link {
			    text-decoration: none;
                color: black;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg naav fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href=".">Neotrinost</a>
			</div>
		</nav>
        <br>
        <br>
		<div class="container-fluid">
            <h1>Neotrinost</h1>
            <h4>A place to develop what you want</h4>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-4" style="color: green;">
                    <i class="fa fa-android"></i>
                    <h4>Android</h4>
                    <p>Android Projects, Java or Kotlin</p>
                    <br>
                </div>
                <div class="col-sm-4" style="color: brown;">
                    <i class="fa fa-globe"></i>
                    <h4>Websites</h4>
                    <p>Php or Flask or Django, Leave it to us</p>
                    <br>
                </div>
                <div class="col-sm-4" style="color: blue;">
                    <i class="fa fa-desktop"></i>
                    <h4>Desktop</h4>
                    <p>CLI or GUI, Java or Python</p>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4" style="color: red;">
                    <i class="fa fa-heart"></i>
                    <h4>Love</h4>
                    <p>We love to code</p>
                    <br>
                </div>
                <div class="col-sm-4" style="color: fuchsia;">
                    <i class="fa fa-brain"></i>
                    <h4>Focus</h4>
                    <p>We focus on what we write</p>
                    <br>
                </div>
                <div class="col-sm-4" style="color: #d4af37;">
                    <i class="fa fa-trophy"></i>
                    <h4>The Best</h4>
                    <p>We do the bests</p>
                    <br>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-6 dialog" style="color: #000080;">
                    <h4>About us</h4>
                    <br>
                    Well, we are <b>Neotrinost LLC</b>. Founded in November 2020 by <a href="https://github.com/BlackIQ">Amirhossein Mohammadi</a> And <a  href="https://github.com/Annahita2004">Annahita Mirhosseini</a>.
                    <br>
                    We are development company that develop Android, Desktop and Web based applications. But there is a bit difference too, our other activity is to accept you projects.
                    <br>
                    I mean, you have a company that need a site to control people working there and so other things, Who can help you? <b>Neotrinost</b>!
                    <br>
                    Tell us just what you need and give us time to do. better than everyone and every company. We have young powerful people! <b>We can do it</b>!
                </div>
                <div class="col-md-6 dialog" style="color: #3c1321;">
                    <h4>Contact us</h4>
                    <br>
                    You can contact us so easy. Via E-Mail, Telegram. Ask your questions and tell us whatever you want!
                    <br>
                    <br>
                    <i class="fa fa-envelope"></i> info@neotrinost.ir
                    <br>
                    <i class="fa fa-telegram"></i> <a class="link-c" href="https://t.me/neotrinost_support">@neotrinost_support</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 dialog" style="color: #0e89f6;">
                    <h4>Social Media</h4>
                    <br>
                    Follow open-source projects in Github and news in Telegram or Instagram.
                    <br>
                    <br>
                    <i class="fa fa-instagram"></i> <a class="link-s" href="https://instagram.com/neotrinost">Neotrinost in instagram</a>
                    <br>
                    <i class="fa fa-linkedin"></i> <a class="link-s" href="https://linkedin.com/company/neotrinost">Neotrinost in LinkedIN</a>
                    <br>
                    <i class="fa fa-telegram"></i> <a class="link-s" href="https://t.me/neotrinost">Neotrinost in Telegram</a>
                </div>
            </div>
		</div>
		<br>
		<script src="static/js/bootstrap.js"></script>
	</body>
</html>
