<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar bg-warning navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="https://neotrinost.ir"><span>Neotrinost</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item text-white active">
                        <a class="nav-link" href="https://neotrinost.ir"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item text-white active">
                        <a class="nav-link" href="https://neotrinost.ir/about"><i class="fa fa-id-card"></i> About Us</a>
                    </li>
                    <li class="nav-item text-white active">
                        <a class="nav-link" href="https://neotrinost.ir/contact"><i class="fa fa-envelope"></i> Contact Us</a>
                    </li>
                    <li class="nav-item text-white active">
                        <a class="nav-link" href="https://neotrinost.ir/blog"><i class="fa fa-blog"></i> Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br>
        <h1>Login</h1>
        <br>
        <hr class="border-warning">
        <br>
        <div class="col-md-5">
            <form action="{{ url_for('submit') }}" method="POST">
                {{ login_form.hidden_tag() }}
                <div class="form-group">
                    <label for="code">Username</label>
                    {{ login_form.username(class = "form-control", placeholder = "Username") }}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    {{ login_form.password(class = "form-control", placeholder = "Username") }}
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="remember" type="checkbox" id="remember">
                    <label class="form-check-label" for="remember">
                        Remember Me
                    </label>
                </div>
                <br>
                <button name="login" id="login" class="btn btn-warning text-white" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>